
@{
    ViewData["Title"] = "Вход";
}

<main>
                <h1 class="text text-center"><br>ВХОД<br></h1>
                <hr class="line" style="width: 72%;">

                @model autttoshope.ViewModels.LoginViewModel

                <form method="post" asp-controller="Account" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label>Логин</label><br />
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password">Пароль</label><br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                </form>
</main>
